<div class="error">
  <h1>Aw, snap! Looks like this page doesn't exist :(</h1>
  <p>If you typed this link manually, please double-check your spelling or
    click on one of the links at the top ^^^ to access the page you were looking for.
  </p>
</div>
