<div class="index-section-separator index-section-separator-{{this}}">
    <div class="index-column index-slim-column">
        <div class="index-image-column-container index-column-beak-{{this}}"></div>
    </div>
    <div class="index-column index-wide-column"></div>
</div>
