.index-main {
    background-color: @brand-color-primary;
    color: white;
}

.index-header {
    padding: 7.5rem 2rem 2rem;
    text-align: center;
}

.index-header-title {
    text-transform: uppercase;
}

.index-header-subtitle {
    margin: 0.5rem auto;
    font-size: 2.18rem;
    font-weight: 300;
    line-height: 1.2;
    width: 35rem;
}

.index-main {
    *, *:after, *:before {
        box-sizing: border-box;
    }
}

.index-section {
    width: 100%;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}


.index-section-title {
}

.index-section-text {
    font-size: 1.25rem;
    line-height: 1.4;
    margin: 1.8rem 0 0;
}


.index-column {
    position: relative;
    float: left;
    min-height: 1px;
}


.index-section-leading-cta {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 0 2rem;
}


@index-column-inset: 5rem;

.index-slim-column {
    width: 45%; // fallback
    width: calc( ~"50% - @{index-column-inset}" );
}

.index-wide-column {
    width: 55%; // fallback
    width: calc( ~"50% + @{index-column-inset}" );
}


@index-slim-column-content-width: 24rem;


.index-leading-cta-form-container {
    text-align: center;
    max-width: @index-slim-column-content-width;
    margin: 0 2.5rem;
    float: right;
}

.index-leading-cta-text {
    font-size: 1.5rem;
    line-height: 1.25;
    margin: 0 0 2.5rem;
}


.index-leading-cta-screenshot-container {
    position: relative;
    margin: 4rem;
    padding-bottom: 57%;
    min-width: 70rem;
    min-height: 40rem;
    max-width: 90rem;
}

.index-leading-cta-screenshot {
    position: absolute;
    background-color: white;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 0.7rem 1rem rgba(0, 0, 0, 0.2));
    // Safari 7.1+, workaround for incorrect drop-shadow rendering
    _::-webkit-full-page-media, _:future, :root & {
        filter: drop-shadow(0 0.6rem 2.5rem rgba(0, 0, 0, 0.2));
    }
}


.index-large-cta-button {
    .button;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    padding: 1.1rem 2rem;
    background-color: @brand-color-green;
    box-shadow: 0 4px 0 0 darken(@brand-color-green, 8%);
    transition: all .15s ease-in-out;

    &:active {
        transform: translate(0px, 2px);
        box-shadow: 0 2px 0 0 darken(@brand-color-green, 8%);
    }
}


.index-large-cta-button-hint {
    font-size: 1.1rem;
    line-height: 1;
    margin: 1rem 0;
}

.index-large-cta-button-hint-link {
    color: white;
    text-decoration: none;
    padding: 0.4rem 0.2rem;
    border-bottom: 1px solid transparent;
    transition: all .15s ease-in-out;
    &:hover {
        border-bottom: 1px solid white;
    }
}

.index-text-column-container {
    max-width: 42rem;
    margin: 4rem 0;
}

.section-beak(@color) {
  &:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 5rem;
    border-left-width: 5rem;
    border-bottom: 1.5rem solid @color;
    top: -1.5rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.index-column-beak {
    position: relative;
    width: @index-slim-column-content-width;
    margin: 0 2.5rem;
    float: right;
    .section-beak(@brand-color-red);
}

.index-section-share-experience {
    background-color: @brand-color-red;
    // filter: drop-shadow(0 -0.1rem 1rem rgba(0, 0, 0, 0.15));
}


.index-share-experience-image {
//    padding-bottom: 50%;
    height: 100%;
    width: 100%;
}


.index-section-build-connections {
    background-color: @brand-color-purple;
}

.index-section-get-the-help {
    background-color: @brand-color-green;
}
