html, body, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    -webkit-font-smoothing: antialiased;
    font-family: @base-font;
    font-size: @font-size-base;
    line-height: 1.428571429; // 20/14
}

h1 { font-size: 5rem; }
