html, body, button, input, select, textarea {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: @base-font;
    font-size: @font-size-base;
    line-height: 1.428571429; // 20/14
}

h1 { font-size: 5rem; }
