<header class="index-header">
    <h1 class="index-header-title">#NextSpark</h1>
    <p class="index-header-subtitle">An exclusive hangout for in-house creative &amp; marketing professionals</p>
</header>
<section class="index-section index-leading-cta">
    <div class="index-column index-left-column">
        <div class="index-leading-cta-form-container">
            <p class="index-leading-cta-text">
                Find your inspiration, share your challenges,
                give and get feedback and form lasting connections
                with creative and marketing pros at the smartest,
                forward thinking brands.
            </p>
            <a class="index-large-cta-button" href="#">Request an Invite</a>
            <p class="index-large-cta-button-hint"><a class="index-large-cta-button-hint-link" href="#">Already a member? Sign in &#8594;</a></p>
        </div>
    </div>
    <div class="index-column index-right-column">
        <div class="index-leading-cta-screenshot-container">
            <div class="index-leading-cta-screenshot"></div>
        </div>
    </div>
</section>
