<header class="index-header">
    <h1 class="index-header-title">#NextSpark</h1>
    <p class="index-header-subtitle">An exclusive hangout for in-house creative &amp; marketing professionals</p>
</header>
<section class="index-section index-section-leading-cta">
    <div class="index-column index-slim-column">
        <div class="index-leading-cta-form-container">
            <p class="index-leading-cta-text">
                Find your inspiration, share your challenges,
                give and get feedback and form lasting connections
                with creative and marketing pros at the smartest,
                forward thinking brands.
            </p>
            <a class="index-large-cta-button" href="#">Request an Invite</a>
            <p class="index-large-cta-button-hint"><a class="index-large-cta-button-hint-link" href="#">Already a member? Sign in &#8594;</a></p>
        </div>
    </div>
    <div class="index-column index-wide-column">
        <div class="index-leading-cta-screenshot-container">
            <div class="index-leading-cta-screenshot"></div>
        </div>
    </div>
</section>
<section class="index-section index-section-share-experience">
    <div class="index-column index-slim-column">
        <div class="index-column-beak"></div>
        <div class="index-share-experience-image"></div>
    </div>
    <div class="index-column index-wide-column">
        <div class="index-text-column-container u-pull-left">
            <h2 class="index-section-title">Share experience, <span class="u-nowrap">find inspiration</span></h2>
            <p class="index-section-text">
                When you hang out with the like-minded, bright, seasoned professionals
                facing similar challenges on a daily basis, you end up inspiring and
                motivating each other to experiment, do more, go further and push the
                boundaries of what you thought was possible.
            </p>
        </div>
    </div>
</section>
<section class="index-section index-section-build-connections">
    <div class="index-column index-wide-column">
        <div class="index-text-column-container u-right-aligned u-pull-right">
            <h2 class="index-section-title">Build lasting connections</h2>
            <p class="index-section-text">
                Let’s be honest, the best like to hang out with the best. In fact, chances
                are you already known your brightest peers in the industry. An occasional
                talk at a conference or an email thread is not enough to keep us connected,
                though &mdash; plus, no one wants more email. Slack is perfect for short form,
                low barrier, realtime communication that builds a rappot that lasts.
            </p>
        </div>
    </div>
    <div class="index-column index-slim-column">
        <div class="index-share-experience-image"></div>
    </div>
</section>
<section class="index-section index-section-get-the-help">
    <div class="index-column index-slim-column">
        <div class="index-share-experience-image"></div>
    </div>
    <div class="index-column index-wide-column">
        <div class="index-text-column-container u-pull-left">
            <h2 class="index-section-title">Get the help you need <span class="u-nowrap">from the people you trust</span></h2>
            <p class="index-section-text">
                From Q&amp;A channels to the exclusive access to our marketplace,
                there is no faster way to get your team to the next level of
                process, workflow and technological excellence.
            </p>
        </div>
    </div>
</section>
